.concepts {
  background-color: $color-red-light;
  height: 100vh;

  &__title {
    margin-bottom: 4rem;
  }

  &__content {
    position: relative;
    margin-top: 10rem;
    text-align: center;
    z-index: 5;
  }

  &__items {
    position: relative; 
    display: flex;
    justify-content: space-between;
    width: 80%;
    z-index: 5;
  }

  &__stain {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    &--left {
      background-image: url("../../images/backgrounds/background-07.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      left: 0;
      top: 0;
      max-width: 99rem;
      transform: scaleX(-1) rotate(180deg);
    }

    &--right {
      background-image: url("../../images/backgrounds/background-10.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      right: 10rem;
      bottom: 0rem;
      max-width: 20rem;
      max-height: 30rem;
      transform: scale(2) scaleX(1);
    }
  }

  &__row {
    height: 100vh;
    position: relative;
  }
}