.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    color: $color-white;
  }

  &__image {
    display: flex;
    height: 25rem;
    width: 25rem;
    user-select: none;
  }

  &__name {
    margin: $spacing-medium;
    text-align: center;
    text-transform: uppercase;
  }
}
